{% extends "layout.html" %} {% block content %}
<h1>
    {{ agenda.title }}
</h1>
<h2>
    {{agenda.author}}
</h2>

<h5>
    {{agenda.date}}
</h5>
<p>{{agenda.text}}
</p>


likes {{Ayes.count}} Dislike {{Nays.count}}
<div class="row">
    <div class="col-sm-6">
        AYES {% for Aye in Ayes %}
        <P>By {{Aye.user.username}}:</P>
        <P>{{Aye.comments}}</P> {% endfor %} </div>
    <div class="col-sm-6"> Nayes {% for Nay in Nays %}
        <P>By {{Nay.user.username}}:</P>
        <P>{{Nay.comments}}</P> {% endfor %}</div>
</div>
{% endblock %}