{% extends "layout.html" %} {% block content %}
<h1>
    User: {{ user.username }}
</h1>
<h2>
    Name: {{user.name}}
</h2>

<h3>
    Email: {{user.email}}
</h3>
<h3>
    Followers:
    <a href="{% url 'followers' user.username %}">{{user.following.count}} </a></h3>

<h3>
    Following:
    <a href="{% url 'following' user.username %}">{{user.follower.count}}</a>
</h3>



<h2 class="text-center">Recent Posts by {{user.username}}</h2>
<hr>

<!--Post-->

{% for post in posts %}
<a href="{% url 'agenda_view' post.slug %}">
    <div class="post  mt-4 bg-light rounded border-0 ">
        <h4 class="p-2">{{post.title}}</h4>
        <h5 class="p-3">Posted by
            <a href="{% url 'profile_view' post.author.username %}">                     
            @{{post.author}}{{post.Aye}}
        </a>
        </h5>
        <p class="border-bottom p-2">{{post.text}}
        </p>
        <span class="d-flex">
         Like 
        <i class="fa fa-thumbs-down p-2"> Dislike </i>
        <i class="fa fa-comments p-2"> Comment </i>
        <i class="fa fa-share p-2 m-auto"> Share </i>
    </span>
    </div>
</a>
{% endfor %}
</div>

{% endblock %}